/* You can add global styles to this file, and also import other style files 

@font-face {
  font-family: 'Josefin Sans', sans-serif;
   src: url(assets/font/JosefinSans.ttf) format("opentype");
  }

  */

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat','Josefin Sans',Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Josefin Sans', sans-serif;
   src: url(assets/font/JosefinSans.ttf) format("opentype");
  }
